<div>
  <%= image_tag @post_image.get_image %>
  <p>ショップ名：<%= @post_image.shop_name %></p>
  <p>説明：<%= @post_image.caption %></p>
  <p>投稿ユーザー画像：<%= image_tag @post_image.user.get_profile_image(100,100) %></p>
  <p>ユーザーネーム：<%= @post_image.user.name %></p>
  <!--年/月/日のフォーマットへ変換-->
  <p>投稿日：<%= @post_image.created_at.strftime('%Y/%m/%d') %></p>
  <!--もし、投稿者 == 現在ログインしているユーザ だったら-->
  <% if @post_image.user == current_user %>
    <!--削除を実行するためのリンク-->
    <%= link_to "削除", post_image_path(@post_image), method: :delete %>
  <% end %>
  <% if @post_image.favorited_by?(current_user) %>
    <p>
      <!-- ユーザーがこの投稿画像をすでに「いいね」している場合 -->
      <%= link_to post_image_favorite_path(@post_image), method: :delete do %>
        <!-- ハートのアイコン（♥）と「いいね」の数を表示し、クリックで「いいね」を解除する -->
        ♥<%= @post_image.favorites.count %> いいね
      <% end %>
    </p>
  <% else %>
    <p>
      <!-- ユーザーがこの投稿画像をまだ「いいね」にしていない場合 -->
      <%= link_to post_image_favorite_path(@post_image), method: :post do %>
        <!-- ハートのアイコン（♡）と「いいね」の数を表示し、クリックで「いいね」に追加する -->
        ♡<%= @post_image.favorites.count %> いいね
      <% end %>
    </p>
  <% end %>
</div>

<div>

  <!-- 投稿画像に対するコメントの総数を表示 -->
  <p>コメント件数：<%= @post_image.post_comments.count %></p>
  
  <!-- 各コメントを順番に表示 -->
  <% @post_image.post_comments.each do |post_comment| %>

    <!-- コメントを書いたユーザーのプロフィール画像を表示 -->
    <p><%= image_tag post_comment.user.get_profile_image(100,100) %></p>
    
    <!-- コメントを書いたユーザーの名前を表示 -->
    <%= post_comment.user.name %>
    
    <!-- コメントが書かれた日付を表示 -->
    <%= post_comment.created_at.strftime('%Y/%m/%d') %>
    
    <!-- コメントの内容を表示 -->
    <%= post_comment.comment %>
    
    <% if post_comment.user == current_user %>
      <%= link_to "削除", post_image_post_comment_path(post_comment.post_image, post_comment), method: :delete %>
    <% end %>
    
  <% end %>
  
</div>

<div>
  <!-- 新しいコメントを投稿するためのフォーム -->
  <%= form_with model: [@post_image, @post_comment] do |f| %>
    <!-- コメントのテキストを入力するテキストエリア -->
    <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %>
    
    <!-- コメントを送信するためのボタン -->
    <%= f.submit "送信する" %>
  <% end %>
</div>